openapi: 3.1.0
info:
  title: Cosmetics API
  description: |
    Cosmetics 도메인 공식 API 계약 (단일 진실 원본)

    ## 규칙
    - 이 문서에 정의된 엔드포인트만 구현 가능
    - OpenAPI에 없는 API 구현 절대 금지
    - 코드보다 이 계약이 우선함

    ## Scope
    - cosmetics:read - 상품/브랜드 조회
    - cosmetics:write - 상품 수정
    - cosmetics:admin - 관리 기능
  version: 1.0.0
  contact:
    name: O4O Platform Team
  license:
    name: Proprietary

servers:
  - url: https://cosmetics-api.neture.co.kr
    description: Production
  - url: http://localhost:3003
    description: Development

tags:
  - name: Products
    description: 상품 관련 API (Public/Admin)
  - name: Brands
    description: 브랜드 관련 API (Public)
  - name: Price Policies
    description: 가격 정책 API (Admin)

paths:
  /cosmetics/products:
    get:
      operationId: listProducts
      summary: 상품 목록 조회
      description: 페이지네이션을 지원하는 상품 목록 조회
      tags:
        - Products
      security: []
      parameters:
        - name: page
          in: query
          description: 페이지 번호
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: 페이지당 항목 수
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: brand_id
          in: query
          description: 브랜드 필터
          schema:
            type: string
            format: uuid
        - name: line_id
          in: query
          description: 라인 필터
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: 상태 필터
          schema:
            $ref: '#/components/schemas/ProductStatus'
        - name: sort
          in: query
          description: 정렬 필드
          schema:
            type: string
            enum: [created_at, price, name]
            default: created_at
        - name: order
          in: query
          description: 정렬 방향
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/products/{id}:
    get:
      operationId: getProduct
      summary: 상품 상세 조회
      description: 단일 상품의 상세 정보 조회
      tags:
        - Products
      security: []
      parameters:
        - name: id
          in: path
          required: true
          description: 상품 ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/products/search:
    get:
      operationId: searchProducts
      summary: 상품 검색
      description: 키워드 기반 상품 검색
      tags:
        - Products
      security: []
      parameters:
        - name: q
          in: query
          required: true
          description: 검색 키워드
          schema:
            type: string
            minLength: 2
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/admin/products:
    post:
      operationId: createProduct
      summary: 상품 등록
      description: 새 상품 등록 (Admin 권한 필요)
      tags:
        - Products
      security:
        - bearerAuth: [cosmetics:admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/admin/products/{id}:
    put:
      operationId: updateProduct
      summary: 상품 수정
      description: 기존 상품 정보 수정 (Admin 권한 필요)
      tags:
        - Products
      security:
        - bearerAuth: [cosmetics:admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/admin/products/{id}/status:
    patch:
      operationId: updateProductStatus
      summary: 상품 상태 변경
      description: |
        상품 상태 변경 (Admin 권한 필요)

        허용 전이:
        - draft → visible, hidden
        - visible → hidden, sold_out
        - hidden → visible, sold_out
        - sold_out → visible, hidden
      tags:
        - Products
      security:
        - bearerAuth: [cosmetics:admin]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStatusRequest'
      responses:
        '200':
          description: 상태 변경 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusChangeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/brands:
    get:
      operationId: listBrands
      summary: 브랜드 목록 조회
      description: 활성 브랜드 목록 조회
      tags:
        - Brands
      security: []
      parameters:
        - name: is_active
          in: query
          description: 활성 브랜드만 필터
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandListResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/brands/{id}:
    get:
      operationId: getBrand
      summary: 브랜드 상세 조회
      description: 단일 브랜드의 상세 정보 및 라인 목록 조회
      tags:
        - Brands
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/lines:
    get:
      operationId: listLines
      summary: 라인 목록 조회
      description: 브랜드별 라인 목록 조회
      tags:
        - Brands
      security: []
      parameters:
        - name: brand_id
          in: query
          description: 브랜드 필터
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineListResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/admin/prices/{productId}:
    get:
      operationId: getPricePolicy
      summary: 가격 정책 조회
      description: 상품의 가격 정책 조회 (Admin 권한 필요)
      tags:
        - Price Policies
      security:
        - bearerAuth: [cosmetics:admin]
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePolicyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    put:
      operationId: updatePricePolicy
      summary: 가격 정책 수정
      description: 상품의 가격 정책 수정 (Admin 권한 필요)
      tags:
        - Price Policies
      security:
        - bearerAuth: [cosmetics:admin]
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePricePolicyRequest'
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/admin/logs/products:
    get:
      operationId: getProductLogs
      summary: 상품 변경 이력 조회
      description: 상품 변경 감사 로그 조회 (Admin 권한 필요)
      tags:
        - Products
      security:
        - bearerAuth: [cosmetics:admin]
      parameters:
        - name: product_id
          in: query
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /cosmetics/admin/logs/prices:
    get:
      operationId: getPriceLogs
      summary: 가격 변경 이력 조회
      description: 가격 변경 감사 로그 조회 (Admin 권한 필요)
      tags:
        - Price Policies
      security:
        - bearerAuth: [cosmetics:admin]
      parameters:
        - name: product_id
          in: query
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT 인증. Core API에서 발급받은 토큰 사용.
        Scope: cosmetics:read, cosmetics:write, cosmetics:admin

  schemas:
    # === Enums ===
    ProductStatus:
      type: string
      enum: [draft, visible, hidden, sold_out]
      description: |
        상품 상태
        - draft: 초안 (비공개)
        - visible: 공개
        - hidden: 숨김
        - sold_out: 품절

    Currency:
      type: string
      enum: [KRW, USD]
      default: KRW

    # === Common ===
    PaginationMeta:
      type: object
      required:
        - page
        - limit
        - total
        - total_pages
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
        has_next:
          type: boolean
        has_prev:
          type: boolean

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: 에러 코드 (COSMETICS_XXX)
            message:
              type: string
              description: 에러 메시지
            details:
              type: object
              description: 추가 에러 정보

    # === Brand ===
    BrandSummary:
      type: object
      required:
        - id
        - name
        - slug
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string

    BrandDetail:
      type: object
      required:
        - id
        - name
        - slug
        - is_active
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        logo_url:
          type: string
          format: uri
        is_active:
          type: boolean
        lines:
          type: array
          items:
            $ref: '#/components/schemas/LineSummary'
        product_count:
          type: integer

    BrandListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BrandDetail'

    BrandDetailResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/BrandDetail'

    # === Line ===
    LineSummary:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        product_count:
          type: integer

    LineListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LineSummary'

    # === Price ===
    Price:
      type: object
      required:
        - base
        - currency
      properties:
        base:
          type: integer
          minimum: 0
          description: 기본 가격
        sale:
          type: integer
          minimum: 0
          nullable: true
          description: 할인 가격
        currency:
          $ref: '#/components/schemas/Currency'

    # === Image ===
    ProductImage:
      type: object
      required:
        - url
        - is_primary
      properties:
        url:
          type: string
          format: uri
        alt:
          type: string
        is_primary:
          type: boolean
        order:
          type: integer

    # === Variant ===
    ProductVariant:
      type: object
      required:
        - id
        - name
        - sku
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        sku:
          type: string
        price_modifier:
          type: integer
          default: 0

    # === Product ===
    ProductSummary:
      type: object
      required:
        - id
        - name
        - brand
        - status
        - price
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        brand:
          $ref: '#/components/schemas/BrandSummary'
        line:
          $ref: '#/components/schemas/LineSummary'
        description:
          type: string
        status:
          $ref: '#/components/schemas/ProductStatus'
        price:
          $ref: '#/components/schemas/Price'
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProductDetail:
      type: object
      required:
        - id
        - name
        - brand
        - status
        - price
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        brand:
          $ref: '#/components/schemas/BrandDetail'
        line:
          $ref: '#/components/schemas/LineSummary'
        description:
          type: string
        ingredients:
          type: array
          items:
            type: string
        status:
          $ref: '#/components/schemas/ProductStatus'
        price:
          $ref: '#/components/schemas/Price'
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ProductVariant'
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProductListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductSummary'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    ProductDetailResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/ProductDetail'

    # === Requests ===
    CreateProductRequest:
      type: object
      required:
        - name
        - brand_id
        - price
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        brand_id:
          type: string
          format: uuid
        line_id:
          type: string
          format: uuid
        description:
          type: string
          maxLength: 5000
        ingredients:
          type: array
          items:
            type: string
        price:
          type: object
          required:
            - base
          properties:
            base:
              type: integer
              minimum: 0
            sale:
              type: integer
              minimum: 0
              nullable: true
        status:
          $ref: '#/components/schemas/ProductStatus'

    UpdateProductRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        brand_id:
          type: string
          format: uuid
        line_id:
          type: string
          format: uuid
        description:
          type: string
          maxLength: 5000
        ingredients:
          type: array
          items:
            type: string

    UpdateStatusRequest:
      type: object
      required:
        - status
      properties:
        status:
          $ref: '#/components/schemas/ProductStatus'
        reason:
          type: string
          maxLength: 500

    StatusChangeResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - id
            - status
            - previous_status
            - changed_at
          properties:
            id:
              type: string
              format: uuid
            status:
              $ref: '#/components/schemas/ProductStatus'
            previous_status:
              $ref: '#/components/schemas/ProductStatus'
            changed_at:
              type: string
              format: date-time
            changed_by:
              type: string
              format: uuid

    # === Price Policy ===
    UpdatePricePolicyRequest:
      type: object
      required:
        - base_price
      properties:
        base_price:
          type: integer
          minimum: 0
        sale_price:
          type: integer
          minimum: 0
          nullable: true
        sale_start_at:
          type: string
          format: date-time
          nullable: true
        sale_end_at:
          type: string
          format: date-time
          nullable: true

    PricePolicyResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - product_id
            - base_price
            - updated_at
          properties:
            product_id:
              type: string
              format: uuid
            base_price:
              type: integer
            sale_price:
              type: integer
              nullable: true
            sale_active:
              type: boolean
            sale_start_at:
              type: string
              format: date-time
              nullable: true
            sale_end_at:
              type: string
              format: date-time
              nullable: true
            updated_at:
              type: string
              format: date-time

    # === Audit Log ===
    AuditLogEntry:
      type: object
      required:
        - id
        - action
        - entity_type
        - entity_id
        - created_at
      properties:
        id:
          type: string
          format: uuid
        action:
          type: string
          enum: [CREATE, UPDATE, DELETE, STATUS_CHANGE]
        entity_type:
          type: string
        entity_id:
          type: string
          format: uuid
        changes:
          type: object
        user_id:
          type: string
          format: uuid
        user_name:
          type: string
        created_at:
          type: string
          format: date-time

    AuditLogListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogEntry'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: VALIDATION_ERROR
              message: Validation failed
              details:
                fields:
                  name: Name is required

    Unauthorized:
      description: 인증 필요
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: COSMETICS_401
              message: Authentication required

    Forbidden:
      description: 권한 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: COSMETICS_403
              message: Permission denied

    NotFound:
      description: 리소스 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: COSMETICS_001
              message: Product not found

    Conflict:
      description: 충돌
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: COSMETICS_409
              message: Resource already exists

    InternalError:
      description: 서버 오류
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: COSMETICS_500
              message: Internal server error
